---
position: 2
nav_title: Blog
title: All about RunsOn & GitHub Action Runners
---

<ul style="padding:0">
<% sorted_posts.reverse.each do |page| %>
  <li style="display:block">
    <div style="display:flex;flex-wrap:wrap;gap:1rem;justify-content:space-between;align-items:center;">
      <span><%= link_to_page(page) %></span>
      <%= post_meta(page) %>
    </div>
    <p><%= page.data.description %></p>
  </li>
<% end %>
</ul>